body {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'Inter', sans-serif;
}

@media (min-width: 640px) {
	.large-font {
		font-size: 36px;
	}
}
.large-font {
	font-size: 28px;
}

.medium-font {
	font-size: 18px;
}

.small-font {
	font-size: 12px;
}
